body{
    background-color: #85DCBA;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    padding:10px;
    color-scheme: rgba(255, 166, 0, 0.949);
}

h1{
    font-size:200px;
    padding: 0px;
    color:white;
}



h2{
    font-size: 30px;
    color: white;
}

button{
    background-color: #E8A87C;
    border: 5px;
    padding: 20px;
    text-decoration: none;
}

/* classes */

.container{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.login-button{
}

.title{
    text-decoration: underline;
}